#code-anywhere {
  margin-top: 90px;
  margin-bottom: 90px;

  a {
    text-decoration: underline;
    font-weight: 500;
    color: #005fb8;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
  }

  p {
    font-weight: 500;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}