footer {
  a:first-child {
    img {
      width: 18px;
      height: 18px;
    }
  }

  a {
    padding: 4px 12px;
    padding-left: 0px;

    img {
      width: 32px;
      height: 24px;
    }
  }

  .footer-links {
    a {
      font-size: 12px;
      font-weight: 500;
    }
  }
}