#hero {
  background: linear-gradient(180deg, #ffffff 0%, #f8f8f884 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#hero img {
  width: 100%;
  height: 100%;

}

.hero-spacing {
  margin-bottom: 96px;
  margin-top: 32px;
}

#hero .chip {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.10);
  color: #333333;
  width: max-content;
  margin-bottom: 8px;
}

#hero h1 {
  font-size: 56px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.download-os {
  background-color: #0078d4;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width:920px) {
  .hero-texts {
    text-align: center;
  }
}